<footer>
    <div class="leftside">
        <span class="f-13 text-normal">This platform for minority groups to express their opinions on
            employment,
            workplace
            experiences and rate
            employers. </span>
        <div class="logos">
            <div class="borderr">
                <img src="../../assets/images/facebook.svg" />
            </div>
            <div class="borderr">
                <img src="../../assets/images/twitter.svg" />
            </div>
            <div class="borderr">
                <img src="../../assets/images/linkedinv.svg" />
            </div>
        </div>
        <span class="copy">&copy; Copyright 2021</span>
    </div>

    <div class="rightside">
        <div class="list">
            <span class="white head">Company</span>
            <span>About</span>
            <span>Contact Us</span>
            <span>Terms of use</span>
            <span>Privacy Policy</span>
        </div>
        <div class="list">
            <span class="white head">Features</span>
            <span>Timeline</span>
            <span>Peer Review</span>
            <span>Create Account</span>
            <span>Sign In</span>
        </div>
        <div class="list">
            <span class="white head">Contact Us</span>
            <span>inquiry@thaapp.com</span>
            <span>1-800-200-300</span>
            <span>54 Curragh birin,
                Castletroy,
                Limerick, Ireland</span>

        </div>
    </div>
</footer>