<section class="feature-review">
    <p class="text-bold dim5">Featured Reviews</p>
    <p class="dim2">Here are some from the review been done by some of the employees on this platform.</p>
    <div class="boxes">
        <div class="box">
            <div class="firstrow">
                <div class="stars">
                    <img src="../../assets/images/filled_star.svg" />
                    <img src="../../assets/images/filled_star.svg" />
                    <img src="../../assets/images/filled_star.svg" />
                    <img src="../../assets/images/filled_star.svg" />
                    <img src="../../assets/images/unfilled_star.svg" />
                </div>
                <span class="text-bold2">4.0</span>
            </div>
            <div class="secondrow">
                <span class="dim2 f-13">Great place to work with the good work culture and people skills.</span>
            </div>
            <div class="thirdrow">
                <span class="tag orange">sexual assault</span>
                <div class="grouptag">
                    <img src="../../assets/images/envelope.svg" />
                    <span class="text-bold3">Google</span>
                </div>
            </div>
            <div class="fourthrow">
                <img src="../../assets/images/profile_man.png" />
                <div class="text">
                    <span class="dim4">Anonymous</span>
                    <span class="dim3">Business Analyst</span>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="firstrow">
                <div class="stars">
                    <img src="../../assets/images/filled_star.svg" />
                    <img src="../../assets/images/filled_star.svg" />
                    <img src="../../assets/images/filled_star.svg" />
                    <img src="../../assets/images/filled_star.svg" />
                    <img src="../../assets/images/unfilled_star.svg" />
                </div>
                <span class="text-bold2">4.0</span>
            </div>
            <div class="secondrow">
                <span class="dim2 f-13">Great place to work with the good work culture and people skills.</span>
            </div>
            <div class="thirdrow">
                <span class="tag orange">sexual assault</span>
                <div class="grouptag">
                    <img src="../../assets/images/envelope.svg" />
                    <span class="text-bold3">Google</span>
                </div>
            </div>
            <div class="fourthrow">
                <img src="../../assets/images/profile_man.png" />
                <div class="text">
                    <span class="dim4">Anonymous</span>
                    <span class="dim3">Business Analyst</span>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="firstrow">
                <div class="stars">
                    <img src="../../assets/images/filled_star.svg" />
                    <img src="../../assets/images/filled_star.svg" />
                    <img src="../../assets/images/filled_star.svg" />
                    <img src="../../assets/images/filled_star.svg" />
                    <img src="../../assets/images/unfilled_star.svg" />
                </div>
                <span class="text-bold2">4.0</span>
            </div>
            <div class="secondrow">
                <span class="dim2 f-13">Great place to work with the good work culture and people skills.</span>
            </div>
            <div class="thirdrow">
                <span class="tag orange">sexual assault</span>
                <div class="grouptag">
                    <img src="../../assets/images/envelope.svg" />
                    <span class="text-bold3">Google</span>
                </div>
            </div>
            <div class="fourthrow">
                <img src="../../assets/images/profile_man.png" />
                <div class="text">
                    <span class="dim4">Anonymous</span>
                    <span class="dim3">Business Analyst</span>
                </div>
            </div>
        </div>
        <div class="break"></div>
        <div class="box">
            <div class="firstrow">
                <div class="stars">
                    <img src="../../assets/images/filled_star.svg" />
                    <img src="../../assets/images/filled_star.svg" />
                    <img src="../../assets/images/filled_star.svg" />
                    <img src="../../assets/images/filled_star.svg" />
                    <img src="../../assets/images/unfilled_star.svg" />
                </div>
                <span class="text-bold2">4.0</span>
            </div>
            <div class="secondrow">
                <span class="dim2 f-13">Great place to work with the good work culture and people skills.</span>
            </div>
            <div class="thirdrow">
                <span class="tag orange">sexual assault</span>
                <div class="grouptag">
                    <img src="../../assets/images/envelope.svg" />
                    <span class="text-bold3">Google</span>
                </div>
            </div>
            <div class="fourthrow">
                <img src="../../assets/images/profile_man.png" />
                <div class="text">
                    <span class="dim4">Anonymous</span>
                    <span class="dim3">Business Analyst</span>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="firstrow">
                <div class="stars">
                    <img src="../../assets/images/filled_star.svg" />
                    <img src="../../assets/images/filled_star.svg" />
                    <img src="../../assets/images/filled_star.svg" />
                    <img src="../../assets/images/filled_star.svg" />
                    <img src="../../assets/images/unfilled_star.svg" />
                </div>
                <span class="text-bold2">4.0</span>
            </div>
            <div class="secondrow">
                <span class="dim2 f-13">Great place to work with the good work culture and people skills.</span>
            </div>
            <div class="thirdrow">
                <span class="tag orange">sexual assault</span>
                <div class="grouptag">
                    <img src="../../assets/images/envelope.svg" />
                    <span class="text-bold3">Google</span>
                </div>
            </div>
            <div class="fourthrow">
                <img src="../../assets/images/profile_man.png" />
                <div class="text">
                    <span class="dim4">Anonymous</span>
                    <span class="dim3">Business Analyst</span>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="firstrow">
                <div class="stars">
                    <img src="../../assets/images/filled_star.svg" />
                    <img src="../../assets/images/filled_star.svg" />
                    <img src="../../assets/images/filled_star.svg" />
                    <img src="../../assets/images/filled_star.svg" />
                    <img src="../../assets/images/unfilled_star.svg" />
                </div>
                <span class="text-bold2">4.0</span>
            </div>
            <div class="secondrow">
                <span class="dim2 f-13">Great place to work with the good work culture and people skills.</span>
            </div>
            <div class="thirdrow">
                <span class="tag orange">sexual assault</span>
                <div class="grouptag">
                    <img src="../../assets/images/envelope.svg" />
                    <span class="text-bold3">Google</span>
                </div>
            </div>
            <div class="fourthrow">
                <img src="../../assets/images/profile_man.png" />
                <div class="text">
                    <span class="dim4">Anonymous</span>
                    <span class="dim3">Business Analyst</span>
                </div>
            </div>
        </div>
    </div>
    <div class="nav">
        <div class="dot-filled"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</section>