<section class="newsletter">
    <div class="leftside">
        <span class="text-bold f-30 dim5">Subscribe to our Newsletter</span>
        <span class="f-13 dim2">Get latest update lorem Ipsum is that it has a more-or-less normal distribution <br> of
            letters,
            as opposed to
            using 'Content here, content here</span>

        <div class="form">
            <input type="text" placeholder="Enter a valid email address" />
            <div class="break"></div>
            <button type="button">Submit</button>
        </div>
    </div>
    <div class="rightside">
        <img src="../../assets/images/mail.svg" />
    </div>

</section>