<main>
    <div class="innermain">
        <section class="left">
            <div class="innerleft">
                <span class="text-bold f-40">Grow your business <br> with real-time reviews</span>
                <span class="f-15 dim text-normal">Find out more on what people and saying about your company, with real
                    time review
                    and
                    data.</span>
                <div class="searchbar">
                    <input type="text" placeholder="Search for Companies" />
                    <button type="button">Search</button>
                </div>
                <span class="text-normal dim f-15">Already have an account? <span class="orange">Sign In</span></span>
                <div class="quote">
                    <div class="image"><img src="../../assets/images/openquote.svg" /><img
                            src="../../assets/images/openquote.svg" /></div>
                    <div class="text dim2 f-13">A life spent making mistakes is not only more honorable, but more useful
                        than
                        a
                        life spent doing nothing.</div>
                    <div class="image"><img src="../../assets/images/closequote.svg" /><img
                            src="../../assets/images/closequote.svg" /></div>
                </div>

            </div>

            <div class="quotecard">
                <div class="stars">
                    <img src="../../assets/images/filled_star.svg" />
                    <img src="../../assets/images/filled_star.svg" />
                    <img src="../../assets/images/filled_star.svg" />
                    <img src="../../assets/images/filled_star.svg" />
                    <img src="../../assets/images/unfilled_star.svg" />
                </div>
                <span class="dim2">Great place to work with the good work culture and people skills.</span>
                <div class="profile">
                    <img src="../../assets/images/profile_man.png" />
                    <div class="text">
                        <span class="dim4">Anonymous</span>
                        <span class="dim3">Business Analyst</span>
                    </div>
                </div>
            </div>

        </section>
        <section class="right">
            <div class="mainimage">
                <img src="../../assets/images/man.png" width="100%" />
            </div>
        </section>
    </div>
</main>